<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base :: layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<section>
    <h1>Admin page</h1>

    <th:block th:if="${#lists.isEmpty(allUser) == false}">
        <div class="container my-5 col-md-8">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">City</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="u : ${allUser}">
                    <td th:text="${u.id}"></td>
                    <td th:text="${u.name}"></td>
                    <td th:text="${u.email}"></td>
                    <td th:text="${u.city}"></td>
                    <td>
                        <a class="btn btn-secondary btn-sm" th:href="#">Lock</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>

    <th:block th:if="${#lists.isEmpty(allUser)}">
        <center><p>No users found.</p></center>
    </th:block>
</section>



</body>



</html>