<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base :: layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>

<section>
  <h4 class="text-center p-2">Log In</h4>

  <form class="col-md-4 offset-md-4" >

    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>


    <center> <button type="submit" class="btn btn-primary">Submit</button></center>
  </form>
  </div>

</section>


</body>
</html>
